* {
  font-family: "Courier New", Courier, monospace;
}

body {
  background-color: aquamarine;
  padding: 2rem;
  margin: 0 20%;
}

h1 {
  font-family: "Courier New", Courier, monospace;
  font-size: 3rem;
  border-bottom: 2px solid green;
}

li {
  padding: 2rem;
}

p {
  font-family: "Courier New", Courier, monospace;
}

a {
  text-decoration: none;
  font-weight: 800;
  font-size: 2rem;
  color: teal;
  background-color: beige;
  padding: 1rem;
  box-shadow: 5px 5px teal;
  border: 2px solid teal;
}

img {
  border: 6px double black;
  box-shadow: 10px 10px black;
}

.remove-bulletpoints {
  list-style-type: none;
}
