body {
  background-color: aquamarine;
  padding: 2rem;
  margin: 0 5rem;
}

h1 {
  font-family: "Courier New", Courier, monospace;
  font-size: 3rem;
  border-bottom: 2px solid green;
}

li {
  padding: 2rem;
}

p {
  font-family: "Courier New", Courier, monospace;
}

a {
  text-decoration: none;
  font-weight: 800;
  font-size: 2rem;
  color: white;
}

img {
  border: 6px double black;
  box-shadow: 10px 10px black;
}
