body {
  background-color: aquamarine;
}

h1 {
  font-family: "Courier New", Courier, monospace;
  font-size: 3rem;
  border-bottom: 2px solid green;
}

p {
  font-family: "Courier New", Courier, monospace;
}

a {
  text-decoration: none;
  font-weight: 800;
  font-size: 2rem;
  padding: 1rem;
}
